<div class="row">
	<div class="col-sm-6">
		<starwars-people people="people" dataloading="dataLoading" test="true"></starwars-people>
	</div>
</div>

Click me <input type="checkbox" ng-model="checked"><br>
ng-show <span ng-show="checked">affiché quand la checkbox est cochée</span><br>
ng-if <span ng-if="checked">affiché quand la checkbox est cochée</span><br>

<div class="col">
	<ul class="pager">
		<li class="previous"><a href="#!/people"><span aria-hidden="true">&larr;</span> Previous</a></li>
	</ul>
</div>