<div class="row">
	<div class="col-sm-6">
		<form>
			<div class="form-group">
				<label for="filter">Filtrer la liste par :</label>
				<input type="text" ng-model="filterText.name" placeholder="Enter a filter here" class="form-control" id="filter">
			</div>
		</form>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="people in list | filter : filterText track by people.id">
				<a ng-href="#!/people/{{people.id}}">
					<span ng-bind="people.id"></span>
					- <span ng-bind="people.name"></span>
					- <span ng-bind="people.height"></span> cm
					<span sw-movies="people"></span>
					<!-- TEST SCOPES -->
					<span ng-bind="$index" ng-hide="true"></span>
					<span ng-bind="$first" ng-hide="true"></span>
					<span ng-bind="$middle" ng-hide="true"></span>
					<span ng-bind="$last" ng-hide="true"></span>
				</a>
			</li>
		</ul>
		<div ng-if="dataLoading">
    		Veuillez patienter... <br><br>
    		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i>
		</div>
	</div>
</div>